/*
 * demo.less
 * use to show
 */

body {
  padding: 40px;
  font-family: Consolas, 微软雅黑;
}

hr {
  margin: 20px 0;
  border: 0;
  border-bottom: 2px solid @color;
}

// it's an option
// may be default in more/a.less
a {
  text-decoration: none;
}

blockquote {
  padding-left: 20px;
  border-left: 3px solid orange;
  margin: 10px 0;
}
