blockquote 普通按钮
button.btn 测试一下
hr

blockquote 普通描述文字
button.btn 测试
p 张亮和村长李锐合影 大长腿遭嫉妒
p 张亮和村长李锐合影 大长腿遭嫉妒
hr

blockquote dot底边
a 菲董法瑞尔威廉姆斯NBA全明星赛激情串烧热单
ul.dotted.text-overflow.lh(style='width: 200px;')
    li 来自星星的你来自星星的你来自星星的你来自星星的你
    li 爱情公寓4
    li 隋唐英雄3
    li 美丽的契约
hr

blockquote 方形列表
ul.text-overflow.dot.lh(style='width: 200px;')
    li 来自星星的你来自星星的你来自星星的你来自星星的你
    li 爱情公寓4
    li 隋唐英雄3
    li 美丽的契约
hr



blockquote 横向导航栏
.nav-h
    a 爆笑恶搞
    a 牛人极客
    a 精彩拍客
    a 草根翻唱
hr

blockquote dot底边+不换行+数字
ul.dotted.text-overflow.number.padding(style='width: 200px;')
    li(data-li=0) 来自星星的你来自星星的你来自星星的你来自星星的你
    li(data-li=1) 爱情公寓4
    li(data-li=2) 隋唐英雄3
    li(data-li=3) 美丽的契约
hr

blockquote 输入框
div(style="width: 300px")
    input.placeholder(type="text" placeholder="来自星星的你")
    input(type="password" placeholder="来自星星的你")
hr

blockquote 白底黑字
div(style="background: #555; width: 300px;")
    .contrast.lh
        .selected 选中的
        p 美丽的契约
        a 隋唐英雄3
hr
        
blockquote 标题
a.color
    span.h1 今日焦点
    span.more 更多
        em >
.nav-h.h4
    a 爆笑恶搞
    a 牛人极客
    a 精彩拍客
    a 草根翻唱
hr

blockquote 边框
.contrast(style='background: #000; height: 50px; padding: 30px')
    .border-color.radius.nav-h.sub.lh.h4
        a 娱乐首页
        a.selected 明星资讯
        a 影视资讯
        a 音乐演出
        a 综艺精选
        a 爱奇艺早班机
        a 娱乐猛回头
.border-gray(style='padding: 30px; margin: 10px 0;')
    p 灰色边框测试
    p 灰色边框测试
    p 灰色边框测试
    p 灰色边框测试
hr
 
blockquote 背景
.bg(style='padding: 30px;')
    p 淡灰色背景测试
    a 链接测试
.bg-color(style='height: 100px; line-height: 100px; text-align: center; width: 180px')
    a.h1 进入个人中心
        em >
hr

blockquote 透明
a.user-select.block.bg-color(style='height: 100px; text-align: center; width: 180px; position: relative;')
    .h1(style='line-height: 100px;') 进入个人中心
        em >
    .opacity.bottom
        span.bg
        span.text.h4 海贼王
hr
        
blockquote tab
.tab.tab-border.h4
    a 大陆
    a 日剧
    a.selected 韩剧
    a 欧美剧
    
br

.tab.tab-bottom.h3
    a 更新提醒
    a.selected 我的动态
    a 系统通知

br
br
br

.tab.tab-top.h3
    a 更新提醒
    a.selected 我的动态
    a 系统通知
    a 测试一下
br

blockquote 文字特效
.text-shadow(style='color: #fff; font-size: 50px')
    文字特效测试 text-shadow
br
.text-shadow-bright(style='color: #fff; font-size: 50px')
    文字特效测试 text-shadow-bright
br
div(style='background: #222; padding: 20px')
    .text-shadow-emboss(style='color: #333; font-size: 50px;')
        | emboss浮雕效果 text-shadow-emboss
    
br
div(style='background: #222; padding: 20px')
    .text-shadow-deboss(style='color: #333; font-size: 50px;')
        | deboss凹陷效果 text-shadow-emboss

br
div(style='background: #222; padding: 20px')
    .text-shadow-3d(style='color: #333; font-size: 50px;')
        | 3d效果 text-shadow-3d
